/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background: #e8e7e7; 
    font-family: arial;
    text-transform: uppercase;
}

header {
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #8063FA;
    border-bottom: solid 2px #D4CAFF;
}

header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
}

/* FORMS */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #8063FA;
    padding: 1rem;
}

label {
    color: white;
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
}

.form-group input:active,
.form-group input:focus,
.form-group input {
    color: white;
}

input[type=text],
input[type=number],
input[type=date] {
    flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5B45B9;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    outline: none;
}

input[type=text]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder {
    color: white;
    letter-spacing: 2px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

input[type=submit],
input[type=button],
button {
    display: block;
    width: auto;
    font-size: .6em;
    margin: 10px auto; 
    padding: 10px;
    background-color: #44338D;
    border-radius: 5px;
    border: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
}

button, 
input[type=submit],
input[type=button],
.button {
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.product-form {
    background: #fff;
    width: 700px;
    margin: 70px auto;
    box-shadow: 0 2px 0 rgb(133, 104, 250);
    border-radius: 6px;
    overflow: hidden;
}

.product {
    display: flex;
    font-size: 1.2em;
    border-bottom: solid 2px #EEEEEE;
    letter-spacing: 2px;
}

.product:last-of-type {
    border-bottom-color: #D4CAFF;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}